<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>446787361237-qcb55onc5nsvm7ts8pb878a4p05ur03a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.446787361237-qcb55onc5nsvm7ts8pb878a4p05ur03a</string>
	<key>API_KEY</key>
	<string>AIzaSyA9X2ZloRwtxF90g6Nby3rmsZTKLGMCwJE</string>
	<key>GCM_SENDER_ID</key>
	<string>446787361237</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CS4278.University-Parking</string>
	<key>PROJECT_ID</key>
	<string>parking-app-eae9a</string>
	<key>STORAGE_BUCKET</key>
	<string>parking-app-eae9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:446787361237:ios:8e66d2010c39a1c6</string>
	<key>DATABASE_URL</key>
	<string>https://parking-app-eae9a.firebaseio.com</string>
</dict>
</plist>