CMakeFiles/
CMakeLists.txt~
CTestTestfile.cmake
Testing/
cmake_install.cmake
example.cpp~
task.cpp~
task.h~
taskexample


# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build
CMakeCache.txt
Makefile
