<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>University Parking.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>52BD6ACE1FBD20DE0086B628</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52BD6AE21FBD20DF0086B628</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52BD6AED1FBD20DF0086B628</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
